/* Simple CSS Reset */

*{
	margin: 0;
	padding: 0;
}

body{
	background: #adb195 url('images/green_background.jpg') top left repeat;
	color: #75480a;
	/* Thanks to cssfontstack.com */
	
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 14px;
}

/* Layout */
#logo{
	display: block;
	width: 200px;
	margin: 40px auto;
}

#container{
	width: 760px;
	margin: 0 auto;
	padding: 40px;
	background: url('images/yellow_background.jpg') top left repeat;
}

/* Hack to correct collapsing element as per:
   http://alistapart.com/article/css-floats-101#snippet16 */
   
#container:after{
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#main-content{
	width: 500px;
	float: left;
}

#sidebar{
	background: url('images/texture_background.jpg') top left repeat;
	width: 200px; /* (760px + 40px) - 500px */
	float: left;
	padding: 20px 20px 0px;
	margin: 0 0 0 20px;
}

#sidebar h3{
	position: relative;
	left: -30px;
	background: url('images/green_background.jpg') top left repeat;
	padding: 10px 10px 10px 30px;
	margin: 0 0 5px;
	color: white;
}

#sidebar .widget{
	margin: 0 0 20px;
}

#special-offer{
	position: relative;
	background: url('images/red_background.jpg') top left repeat;
	color: white;
	padding: 0 20px 20px;
	margin: 60px 0;
}

#special-offer h2{
	font-size: 20px;
	background: url('images/green_background.jpg') top left repeat;
	padding: 5px;
	display: inline; 
	position: relative;
	top: -10px;
	left: -35px;
}

#steak{
	position: absolute;
	bottom: -30px;
	right: -10px;
}


/* Typography */

h1, h2, h3{
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;	
	font-weight: normal;
}

h1{
	font-size: 40px;
}

p.lead{
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;	
	font-size: 18px;
	margin: 0 0 30px;
}

#sidebar .widget address ul li{
	list-style: none; /* ditch bullets */
}

#sidebar a:link{
	display: inline-block;
	background: #577a1b;
	color: white;
	text-decoration: none;
	font-weight: bold;
}











