/* CSS Reset */

*{
	margin: 0;
	padding: 0;
}

body{
	background: rgba(0,0,0,0.5); /* used color picker */
	color: #222;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

#container{
	background: white;
	width: 500px;
	margin: 20px auto;
	padding: 20px;
}

h1{
	margin: 0 0 20px;
}

p{
	margin: 10px 0;
}

/* Styling Links */

/* unvisited link */
a:link{
	color: #f42aa6;	
	text-decoration: none;	
}

/* visited link */
a:visited{
	color: #f42aa6;	
}

a:hover{
	color: #a50578;
	text-decoration: underline;	
}

/* clicking and pressing down on the link */
a:active{
	color: #000;
}

/* Specific Link Styling */

#link-1:hover{
	background: #333;
	color: white;
	padding: 5px;
	text-decoration: none;
	
}

#link-3{
	background: #f42aa6;
	color: white;
	padding: 5px;	
}

#link-3:hover{
	background: #a50578;
	text-decoration: none;
	border: dashed 2px black;
}

#link-4:hover{
	color: #333;
}

/* CSS Positioning */

.box{
	background: #db4e4e;
	color: white;
	height: 150px;
	width: 150px;
	margin: 20px 0;	
}

#relative-box{
	position: relative;
	top: 30px;
	left: -70px;
}

#absolute-box{
	position: absolute;
	top: 0;
	right: 0;
}

