/*
	Christian Retek
	Website: www.unequald.com
	February 2014
*/

/* Simple CSS Reset */

*{
	margin: 0;
	padding: 0;
}

body{
	background: black url('images/background.jpg') top center no-repeat;
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: lighter;
	text-align: center;
	padding: 40px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	padding: 0 0 10px;
	margin: 0 0 10px;
}

#container{
	width: 600px;
	margin: 0 auto;
}

.content-block{
	background: url('images/transparent_white.png') top left repeat;
	padding: 20px;
	margin: 20px 0;
}

#content{
	border: solid 10px black;
}

#reserve{
	border: solid 10px white;
}

#footer{
	background: black;
	color: white;
}

form{
	text-align: left;
	width: 300px;
	margin: 20px auto 0;
}

form label{
	display:block;
	width: 290px; /* form width is 300, use 290 to account for 5 px left and right padding */
	padding: 5px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	background: #333;
	color: white;
}

form input{
	display: block;
	width: 290px;
	border: none;
	padding: 5px;
	margin: 0 0 10px;
	font-size: 22px;
	font-family: Georgia, Times, serif;
	font-style: italic;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

form input[type="submit"]{
	width: 300px;
	background: #333;
	color: white;
	cursor: pointer;
}