/*
	Author: Christian Retek
*/

/* Simple CSS Reset */
*{
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 16px; /* em sizes for text based on this */
}

body{
	padding: 40px;
	font-family: Georgia, Times, serif;
	color: #353535;
}
 
h1,h2,h3,h4,h5,h6{
	margin: 10px 0;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

h1{
	font-size: 3em; /* 3 x em number, which was defined in reset above */
}

h2{
	font-size: 2em;
}

h3{
	font-size: 1.5em;
	letter-spacing: -1px;
	word-spacing: 10px;
	text-align: center;
}

blockquote{
	margin: 0 0 0 30px;
	font-style: italic;
	text-indent: 80px; /* indent the first line of the paragraph */
	line-height: 1.3em;
}

span{
	text-decoration: underline;
}

em{
	text-transform: capitalize;
}

strong{
	text-transform: uppercase;
	font-weight: bold;
}

a{
	color: #3ca;
	text-decoration: none;
}

/* borders */

.border-box{
	background: #eee;
	margin: 0 0 20px;
	padding: 20px;
	width: 300px;
}

#box-1{
	border: solid 1px black;
}

#box-2{
	border: dashed 1px black;
}

#box-3{
	border: dotted 1px black;
}

#box-4{
	border: double 3px black;
}

#box-5{
	border: solid 4px black;
}

#box-6{
	border: dashed 4px black;
}

#box-7{
	border: dotted 4px black;
}

#box-8{
	border: double 6px black;
}

code{
	margin-top: 15px;
	padding: 4px;
	background: white;
	display:block;
	color: #e6bc13;
}

/* Background Images */

.background-example{
	height: 200px;
	width: 200px;
	border: solid 1px black;
}

/* By default, background images repeat x and y and are positioned top, left */
#background-1{
	background-image: url('images/blue_background.jpg');	
}

#background-2{
	background-color: #ac3;
}

#background-3{
	background-image: url('images/steak_background.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}

#background-4{
	background: url('images/skull_background.jpg') bottom left repeat-x;
}

/* Forms */

#container{
	width: 90%;
	margin: 0 auto;
}

form{
	background-image: url('images/red_background.jpg');
	padding: 20px;
	font-family: Helvetica, Arial, sans-serif;
}

form fieldset{
	background-image: url('images/blue_background.jpg');
	padding: 40px;
	border: solid 1px white;
}

form legend{
	border: solid 1px #333;
	background-image: url('images/blue_background.jpg');
	font-size: 30px;
	font-weight: bold;
}

form input, form textarea{
	display: block;
	margin-bottom: 20px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

form label{
	font-size: 11px;
	text-transform: capitalize;
}

form input[type="text"], form input[type="email"], form textarea{
	padding: 10px;
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	border: solid 1px #B90707;
	background-image: url('images/red_background.jpg');
}

form textarea{
	width: 300px;
    height: 100px;	
}

form input[type="submit"]{
	border: none;
	background: url('images/button-background.jpg') top left repeat-x;
	height: 40px;
	padding: 0 20px;
	border: solid 1px #d4730c;
	color: white;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	cursor: pointer;
}

