body{
	background: #333;
	font-family: Georgia, Times, Serif;
	color: #FFF;
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6{
	font-family: Helvetica, Arial, sans-serif;
	color: #FFCC33;
}

h1{
	border: dashed 1px #FFCC33;
	background: #000;
	font-size: 2em; /*1 em is equal to the current font size */
	padding: 10px;	
}

ol{
	border: solid 4px #BCE3ED;
	background: #33BCDE;
	padding: 20px 20px 20px 40px;
	margin: 5% 0;
}

a{
	color: #FFCCA3
}

strong{
	color: pink;
}
