body{
	font-family: Helvetica;
	background-color:#7ab0cc;
	color:#363030;
}

h1{
	font-size: 50px;
	margin: 0;
}

p{
	font-style: italic;
}

h2{
	color:rgba(0,0,0,0.5);
	border-top: solid 1px rgba(0,0,0,0.5);
}

ol{
	border-bottom: solid 1px rgba(0,0,0,0.5);
}